@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #002944;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.background {
    position: fixed; 
    z-index: -1;
    background: url('../img/section/audioguides.jpg') no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.2;
    transform: scale(1);
}

h1 {
    text-align: center;
    font-size: 4em;
    font-family: 'Cinzel', serif;
    color: #A32F2F;
    font-weight: 500;
}

h2 {
    font-size: 1.5em;
    color: #A32F2F;
}

.splitter {
    display: block;
    height: 400px;
}

/*============= Section 1 ==============*/


.section-1 {
    background-color: #FFF8F3;
    position: relative;
    width: 100%;
    height: auto;
    padding: 200px 0px 50px;
    overflow: hidden;
}

.activity {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 100px 100px;
    height: auto;
    line-height: 30px;
}

.activity h2 {
    font-size: 2em;
    margin-bottom: 50px;
}

.activity img {
    max-height: 100px;
    width: 1000px;
    object-fit: cover;   
}

.description {
    width: 1000px;
    margin-bottom: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.description p {
    display: inline-block;
    font-weight: bold;
}

.description .description-hour {
    color: #A32F2F;
}

.description span {
    font-weight: normal;
    font-style: italic;
}

.rois-angleterre {
    object-position: 0 55%;
}

.visite-LSF {
    object-position: 0 43%;
}

.albatre {
    object-position: 0 25%;
}
