@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #002944;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.background {
    position: fixed; 
    z-index: -1;
    background: url('../img/section/statue-couchée-cropped.jpg') no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.2;
    transform: scale(1);
}

h1 {
    text-align: center;
    font-size: 4em;
    font-family: 'Cinzel', serif;
    color: #A32F2F;
    font-weight: 500;
}

h2 {
    font-size: 1.5em;
    color: #A32F2F;
}

/*==================== SPLITTER ====================*/

.splitter {
    display: block;
    height: 400px;
}

/*============= Statue ==============*/


.section-1 {
    background-color: #FFF8F3;
    position: relative;
    width: 100%;
    height: auto;
    padding: 200px 0px 50px;
    overflow: hidden;
}

.statue {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 100px 100px;
    height: auto;
    line-height: 30px;
}

.statue img {
    height: 420px;
    width: auto;
}

.txt-statue {
    width: 400px;
    margin-left:60px;
    margin-top: 20px;
}

.txt-statue p {
    font-style: medium;
    font-size: 1em;
    margin-top: 10px;
}

.description-statue {
    width: auto;
}

/*============= Aquisitions ==============*/

.aquisitions {
    display: flex;
    justify-content: flex-end;
    align-items: top;
    margin: 100px 100px;
    height: auto;
    line-height: 30px;
    margin-top: -300px;
    text-align: end;
}

.aquisitions img {
    height: 420px;
    width: auto;
}
.aquisitions h2 {
    margin-right: 60px;
    margin-top: 60px;
    width: auto;
}

.description-dent p {
    margin-top: 10px;
    width: auto;
}

/*============= Recolement ==============*/

.recolement {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 100px 100px;
    height: auto;
    line-height: 30px;
}

.recolement img {
    height: 320px;
    width: auto;
}

.txt-recolement {
    width: 600px;
    margin-left:60px;
    margin-top: 20px;
}

.txt-recolement p {
    font-style: medium;
    font-size: 1em;
    margin-top: 10px;
}

.description-recolement {
    width: auto;
}


/*============= Blurry Background ==============*/

.section-2 {
    z-index: -1;
    background: url('../img/section/B&W_background.jpg') no-repeat center center;
    width: 100%;
    height: 1100px;
    background-size: cover;
    transform: scale(1);
}


/*================= Section 2 ==================*/

.section-2-top {
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.section-2 h2 {
    font-size: 2em;
    color: white;
}

.section-2 p {
    line-height: 30px;
    margin: 50px 100px;
    color: white;
    width: 70%;
    text-align: center;
}

.ligne-temps {
    display: flex;
    justify-content: center;
    font-size: 0.4em;
    padding: 10px 25px;
    border-radius: 30px;
    white-space: nowrap;
}

.gauche {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    flex: 40%;
}

.droite {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    flex: 40%;
}

.text-backgroud-black {
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 25px;
    border-radius: 25px;
    transition: 0.3s;
}

.text-backgroud-black:hover {
    background-color:black;
    opacity: 1;
    transform: scale(1.1)
}

.creation {
    margin-top: 100px;
}

.faculté-bordeaux {
    margin-top: 200px;
}

.collections-bordelaises {
    margin-top: 220px;
}

.musée-equipes {
    margin-top: 200px;
}


/*================= Section 3 ==================*/

.section-3 {
    background-color: #FFF8F3;
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 0px;
    overflow: hidden;
}

.section-3 img {
    width: 100%;
    height: auto
}

.section-3 h2 {
    line-height: 50px;
    font-size: 3em;
    white-space: nowrap;
}

.img-et-description {
    width: 50%;
    height: auto;
}

.centre-jean-moulin {
    display: flex;
    justify-content: flex-end;
    align-items: top;
    margin: 100px 100px;
    height: auto;
    line-height: 30px;
    text-align: end;
}

.txt-jean-moulin {
    margin-right: 60px;
    margin-top: 60px;
    width: auto;
    font-weight: 500;
}

.centre-jean-moulin h2 {
    margin-bottom: 10px;
}


.musée-goupil {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 100px 100px;
    height: auto;
    line-height: 30px;
}

.txt-goupil {
    width: 400px;
    margin-left:60px;
    margin-top: 50px;
}

.img-et-description p {
    font-size: 0.85em;
    width: auto
}
