* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

footer {
    background: #F8F8F8;
    height: 75vh;
    width: 100%;
    margin-top: 25vh;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
    position: relative;
}

footer::before {
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    height: 100%;
    background-color: #A93333;
    z-index: 0;
}

footer a:link, footer a:active, footer a:visited {
 color: #000000;
}

.footer-top-section {
    display: flex;
    height: 85%;
    z-index: 1;
    position: relative;
}


/*========== BOTTOM ==========*/


.footer-bottom-section {
    background: #DCDCDC;
    height: 15%;
    padding: 1% 0%;
    z-index: 1;
    position: relative;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    max-width: 1280px;
    height: 100%;
    margin: auto;
}

.footer-split {
    background: #000000;
    margin-top: auto;
    margin-bottom: auto;
    height: 2px;
    width: 10px;
}


/*========== Left ==========*/


.footer-left-box {
    background: #A93333;
    width: 24%;
    height: 100%;
    color: #ffffff;
    font-size: 1.3em;
    padding: 35px 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.footer-left-box h4 {
    font-size: 1.5em;
}

.footer-left-box h4::after {
    content: '';    
    display: block;
    height: 2px;
    background: white;
    margin-top: 5px;
    width: 80%;
}

.footer-left-box p {
    font-size: 1.1em;
}

.footer-top-section {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

/*========== Right ==========*/

.footer-right-box {
    height: 100%;
    width: 76%;
    padding: 25px 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #F8F8F8;
}

/*== Social media ==*/

.social-network {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.footer-right-box h4 {
    font-size: 1.5em;
    color: #000000;
    margin-right: 15%;
    white-space: nowrap;
}

.social-network-icon {
    background: #DCDCDC;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
}

.social-network a {
    display: flex;
    align-items: center;
    margin: 10px 35px;
}

.social-network img {
    filter: grayscale(1) brightness(0);
    width: 30px;
    height: auto;
    transition: 0.2s;
}

.social-network img:hover {
    filter: grayscale(0) brightness(1);
}


/*== Navbar ==*/

.navbar {
    font-size: 1.4em;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
}

.navbar ::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: rgb(0, 0, 0);
    margin-top: 2px;
}

/*== External link ==*/

.external-link {
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
}

.external-link a {
    text-decoration: none;
}

.external-link ::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: rgb(0, 0, 0);
    margin-top: 2px;
}

/*== Newsletter ==*/

.submit-button, .submit-button:visited, .submit-button:link {
    background-color: #A93333;
    width: 200px;
    color: #ffffff;
    border: none;
    padding: 15px 25px;
    text-align: center;
    font-size: 1.1em;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.5s;
}
  
.submit-button:hover {
    background-color: #000000;
    color: white;
    transition-duration: 0.3s;
}

.container {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}

input[type=text] {
    width: 500px;
    border-radius: 25px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 25px;
}

input[type=text]:focus {
    border: 3px solid #DCDCDC;
    transition: 0.2s;
}


