* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

footer {
    background: #F8F8F8;
    height: 75vh;
    width: 100%;
    margin-top: 25vh;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

footer a:link, footer a:active, footer a:visited {
 color: #000000;
}

.footer-top-section {
    height: 85%;
}

.footer-left-box {
    background: #A93333;
    width: 25%;
    height: 100%;
    color: #ffffff;
    font-size: 1.5em;
    
}

/*========== BOTTOM ==========*/
.footer-bottom-section {
    background: #DCDCDC;
    height: 15%;
    padding: 1% 1%;
}

.footer-bottom-section {
    background: #DCDCDC;
    height: 15%;
    padding: 1% 0%;
}

.footer-bottom-section div div {
    display: inline;
    width: 200px;
    text-align: center;
}

.footer-flex-top {
    display: flex;
    justify-content: space-between;
    color: #000000;
}

.footer-flex-bottom {
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    
}

.footer-split {
    background: #000000;
    margin-top: auto;
    margin-bottom: auto;
    height: 2px;
    width: 10px;
}


/*========== Left ==========*/
.footer-left-box {
    padding: 35px 50px;
}

.footer-left-box h4 {
    margin-top: 20px;
    font-size: 1.5em;
}

.footer-left-box p {
    margin-top: 70px;
    font-size: 1.2em;
}



