* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #002944;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.background {
    position: fixed; 
    z-index: -1;
    background: url('../img/section/surf.jpg') no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.2;
    transform: scale(1);
}

h1 {
    text-align: center;
    font-size: 4em;
    font-family: 'Dubai', sans-serif;
    color: #A32F2F;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    color: #A32F2F;
}

/*============= grandde section 1 ==============*/

.section-1 {
    background-color: #FFF8F3;
    position: relative;
    width: 100%;
    height: auto;
    padding: 60px 20px;
}

/*============= section 1 ==============*/

.section-1 h1 {
    margin-bottom: 30px;
}

.section-1 img {
    height: 700px;
    width: auto;
}

.div-1 {
    display: flex;
    justify-content: space-between;
    padding: 100px 100px;
    height: auto;
}

.div-1 .description {
    margin-top: 10px;
    line-height: 30px;
    font-weight: bold;
    text-align: left;

}

.div-1 .txt-img {
    margin-top: 25px;
    margin-left: 60px;
    line-height: 30px;
}