@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');

html {
    scroll-behavior: smooth;
}

/*==================== MAIN ====================*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #002944;
    font-family: "Montserrat", sans-serif;
    color: white;
}

.background {
    position: fixed;
    z-index: -1;
    background: url("../img/background_1.jpg") no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.2;
    transform: scale(1);
    filter: blur(1px);
}

/*==================== HEADER ====================*/

.intro {
    display: block;
    position: relative;
    height: 100vh;
    width: 100%;
}

.main-arrow {
    position: absolute;
    bottom: 7%;
    left: 50%;
    height: 50px;
    transform: translate(-50%);
    animation: bounceAnim 1s infinite;
}

@keyframes bounceAnim {
    0% {
        bottom: 7%;
    }
    40% {
        bottom: 5%;
    }
    60% {
        bottom: 5%;
    }
    100% {
        bottom: 7%;
    }
}

/*==================== TITRE ====================*/

.main-title {
    display: block;
    position: absolute;
    font-size: 5em;
    font-family: "Cinzel", serif;
    font-weight: 500;
    text-align: center;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

/*==================== SPLITTER ====================*/

.splitter {
    display: block;
    height: 400px;
}

/*==================== BUTTON ====================*/

.more-info {
    display: flex;
    justify-content: center;
    width: 200px;
    margin: 50px auto;
    font-weight: bold;
    background: #002944;
    color: white;
    font-size: 1.1em;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 30px;
    transition: 0.5s;
}

.more-info:hover {
    background: #a32f2f;
}

/*==================== SECTION 1 ====================*/

.exposition {
    background: #fff8f3;
    position: relative;
    width: 100%;
    height: auto;
    color: #707070;
    overflow: hidden;
}

.exposition h3 {
    color: #a32f2f;
    margin-top: 25px;
}

.top-weel {
    position: absolute;
    top: -300px;
    right: -300px;
    width: 600px;
    transform-origin: center center;
}

.bottom-weel {
    position: absolute;
    bottom: 100px;
    left: -300px;
    width: 600px;
    transform-origin: center center;
}

.section-p {
    font-size: 1.1em;
    line-height: 28px;
}

.section-title {
    text-align: center;
    font-size: 4em;
    color: #a32f2f;
    margin: 100px 0px;
}

.exposition-section-1 {
    margin: 100px 150px;
}

.section-flex-start,
.exposition-section-1 h3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.exposition-section-1 img {
    width: 480px;
    height: auto;
    margin-right: 150px;
    box-shadow: 0px 8px 25px rgb(0, 0, 0, 0.15);
}

.exposition-section-1 p {
    display: block;
    width: 380px;
}

.exposition-section-2 {
    margin: 100px 150px;
}

.section-flex-end,
.exposition-section-2 h3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.exposition-section-2 img {
    width: 280px;
    height: auto;
    margin-left: 150px;
    box-shadow: 0px 8px 25px rgb(0, 0, 0, 0.15);
}

.exposition-section-2 p {
    display: block;
    width: 380px;
}

/*==================== SECTION 2 ====================*/

.activity {
    background: #fff8f3;
    position: relative;
    width: 100%;
    height: auto;
    color: #707070;
    overflow: hidden;
    padding: 0px 100px;
}

.activity-p {
    font-size: 1em;
    line-height: 28px;
}

.activity h3 {
    text-align: center;
    color: #a32f2f;
}

.activity img {
    display: block;
    width: 974px;
    height: auto;
    margin: 50px auto;
}

.bold-txt {
    font-weight: bold;
}

.blue-txt {
    color: #759fbc;
}

/*==================== SECTION 3 ====================*/

.collection {
    background: #fff8f3;
    position: relative;
    width: 100%;
    height: auto;
    color: #707070;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
}

.collection-section-disabled {
    display: none;
}

.collection h3 {
    color: #a32f2f;
    margin-bottom: 50px;
}

.collection h4 {
    color: #a32f2f;
    margin: 50px 0;
}

.collection-p {
    font-size: 1.1em;
    line-height: 28px;
}

.collection-section-img {
    width: 800px;
    height: 350px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.collection-section-img img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.collection-section-img-margin {
    margin-top: 200px;
}

.sub-image-info {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
    color: #a32f2f;
    font-size: 1.2em;
}

/*==================== SECTION 4 ====================*/

.shop {
    background: #fff8f3;
    position: relative;
    width: 100%;
    height: auto;
    color: #707070;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
}

.shop-section-disabled {
    display: none;
}

.shop h3 {
    color: #a32f2f;
    margin-bottom: 50px;
}

.shop h4 {
    color: #a32f2f;
    margin: 50px 0;
}

.shop-p {
    font-size: 1.1em;
    line-height: 28px;
}

.shop-section-img {
    width: 800px;
    height: 350px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.shop-section-img img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.shop-section-img-margin {
    margin-top: 200px;
}

.sub-image-info {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
    color: #a32f2f;
    font-size: 1.2em;
}