@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #002944;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #759fbc;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff8f3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav h2 {
    font-family: 'Playfair Display', serif;
    padding: 0px 0px 0px 32px;
    font-size: 32px;
    color: #a32f2f;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    line-height: 18px;
  }
  
  .sidenav h3 {
    font-family: 'Montserrat', sans-serif;
    padding: 0px 0px 0px 32px;
    font-size: 24px;
    color: #a32f2f;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    line-height: 18px;
  }
  
  .sidenav p {
    font-family: 'Montserrat', sans-serif;
    padding: 0px 0px 0px 32px;
    font-size: 16px;
    color: #002944;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    line-height: 18px;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
