@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');

/*==================== TOOLBAR ====================*/


.toolbar-nav {
    z-index: 1;
    top: 30%;
    left: 0;
    display: block;
    position: fixed;
    width: 35px;
    height: 224px;
    background: #002944;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 0px 11px;
}

.toolbar-nav img {
    display: block;
    width: 32px;
    margin: 12px 0px;
}

.toolbar-nav div {
    height: 2px;
    width: 32px;
    background: #707070;
}


/*==================== XXXXXXX ====================*/



/*Style de la croix pour fermer la sidenav*/
  .sidenav a {
    font-family: 'Montserrat', sans-serif;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #002944;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
  }

/*Style de la croix survolé*/
  .sidenav a:hover {
    color: #759fbc;
  }

/*Style de la sidenav*/
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff8f3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
/*Style des grands titres(h2) de la sidenav*/
  .sidenav h2 {
    font-family: 'Playfair Display', serif;
    padding: 0px 0px 0px 32px;
    font-size: 32px;
    color: #a32f2f;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    line-height: 18px;
  }
  
/*Style des sous-titres(h3) de la sidenav*/
  .sidenav h3 {
    font-family: 'Montserrat', sans-serif;
    padding: 0px 0px 0px 32px;
    font-size: 24px;
    color: #a32f2f;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    line-height: 18px;
  }

/*Style des textes des paragraphes de la sidenav*/
  .sidenav p {
    font-family: 'Montserrat', sans-serif;
    padding: 0px 32px 0px 32px;
    font-size: 16px;
    color: #002944;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    line-height: 18px;
  }

/*[?]*/
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  

/*==================== Search Bar ====================*/


  input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 0px 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }